.icon {
    width: 20px;
    height: 20px;
}
.item {
    display: flex;
    align-items: center;
    gap: 7px;
}
.filterContainer {
    display: flex;
    width: 100%;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.filterBtnIn {
    display: flex;
    height: 34px;
    padding: 0px 15px;
    align-items: center;
    border: 1px solid #2B3467;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.filterBtnIn:hover,.filterBtnInActive {
    background: #2B3467;
}

.filterBtnIn span {
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.filterBtnIn:hover span,.filterBtnInActive span{
    color: #fff;
}
.filterBtn {
    margin-right: 10px;
    margin-bottom: 10px;
}