.changeModal {
    cursor: pointer;
    position: relative;
}
.modal {
    position: absolute;
    width: 150px;
    transition: .6s;
    padding: 5px;
    border: 1px solid #2c2c2c2c;
    left: -35px;
    top: 20px;
}