@font-face {
    font-family: 'FiraGO';
    src: url('FiraGO-Regular.eot');
    src: url('FiraGO-Regular.eot?#iefix') format('embedded-opentype'),
        url('FiraGO-Regular.woff2') format('woff2'),
        url('FiraGO-Regular.woff') format('woff'),
        url('FiraGO-Regular.ttf') format('truetype'),
        url('FiraGO-Regular.svg#FiraGO-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

