.activeBg {
  border-color: #2B3467;
}
.modalWindow {
  align-items: center;
  position: fixed;
  z-index: 9;
  height: fit-content;
  width: 200px;
  top: 70px;
  right: 90px;
  border-radius: 4px;
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075);
  -webkit-box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075);;
  -moz-box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075);;
  padding: 10px;
  background-color: #FCFFE7;
}
.modalWindow > div {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 10px;
}
.backdrop {
  cursor: pointer;
  position: fixed;
  height: 40px;
  width: 40px;
  z-index: 10;
}
.hover {
  transition: color 0.2s ease, background-color 0.2s ease;
  padding: 10px;
}
.hover:hover {
  color: #070707;
  background-color: rgba(245, 248, 250, 0.8);
  border-radius: 4px;
}
.closeBtn {
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-left: 4px;
}
.closeBtn path {
  stroke: #00b1fe;
  transition: all 0.3s ease;
}

.closeBtn:hover path {
  stroke: #0098da;
}

/* popup element */

.popup {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  width: 95%;
}

/* end of popup element */

@media (max-width: 768px) {
  .backdrop {
    width: 30px;
    height: 30px;
  }
  .modalWindow {
    top: 50px;
    right: 15px;
  }
}
@media (max-width: 991px) {
  .backdrop {
    width: 30px;
    height: 30px;
  }
  .modalWindow {
    top: 50px;
    right: 15px;
  }
}
