.mainContainer {
  display: flex;
  width: 100%;
  gap: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.imageContainer {
  height: 460px;
  display: flex;
  justify-content: center;
  position: relative;
}

.imageBorder {
  width: 392px;
  height: 384px;
  border-radius: 4px;
  border: 1px solid #6d749c;
  position: relative;
}

.imageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.userInfoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userInfo {
  border: 1px solid #6d749c;
  padding: 16px;
  border-radius: 4px;
  opacity: 0.5;
}

.userInfoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.infoType {
  width: 100%;
}

.userInfo {
  width: 100%;
}

.startEditBtn {
  border: 1px solid #6d749c;
  padding: 12px 16px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #2b3467;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  cursor: pointer;
  gap: 10px;
}

.row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.outer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.imageUpload {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}
@media (max-width: 1300px) {
  .mainContainer {
    flex-direction: column;
  }

  .imageContainer {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .mainContainer {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .imageContainer {
    display: flex;
    justify-content: flex-start;
  }

  .userInfoWrapper {
    width: 100%;
  }

  .userInfo {
    width: 100%;
  }

  .userInfoContainer {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}